In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [12]:
data = pd.read_csv('../data-preprocessing/data/processed/titanic_preprocessed.csv')
data.head()

,Survived,Pclass,Sex,Age,Fare,Cabin,Embarked,FamilySize,IsAlone
0,0,3,0,0.000000,0.000000,0,0,1.098612,0
1,1,1,1,0.509141,0.580452,1,1,1.098612,0
2,1,3,1,0.000000,0.000000,0,0,0.693147,1
3,1,1,1,0.359988,0.351171,1,0,1.098612,0
4,0,3,0,0.359988,0.000000,0,0,0.693147,1